.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
h1{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 800;
}
.btn{
    font-size: 20px;
    padding: 10px 0px;
    background-color: var(--theme-color);
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0px 10px;
    color: white;
    width: 8rem;
    cursor:pointer;
    border: 2px solid var(--theme-color);
}
.btn:hover{
    transition: 0.3s ease;
    background-color: white;
    color: var(--theme-color);
}